@import '../../scss/utils/variables.scss';

.ondragenter {
  max-height: calc(100vh - 100px);
  position: sticky;
  top: 100px;
  left: 0;
  z-index: 999;
  border: 1px $success dashed;
  background: $black;
  opacity: 0.5;
}
