@import '../../scss/utils/bootstrap.scss';

.custom {
  [class*='-menu'] {
    box-shadow: 0 3px 6px rgba($color: $gray-800, $alpha: 0.1) !important;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 80%;
      transform: translateX(-50%);
      height: 1px;
      background-color: $gray-select;
    }
  }
}
