@import '../../scss/utils/bootstrap.scss';

@include media-breakpoint-up(xl) {
  .modal,
  .modal-backdrop {
    width: calc(100vw - 248px) !important;
    right: 0 !important;
    left: unset !important;
  }
}
