.list {
  max-height: 200px;
  overflow-y: auto;
  transition: 0.5s all ease-in-out;
}

.item {
  &:hover {
    background-color: var(--aesirxui-bg-color-blue-9);
  }
  &.active {
    &:hover {
      background-color: var(--aesirxui-bg-color-blue-9);
    }
  }
}
